<div class="row conteudo">
<div class="card">
    <img class="card-img-top" src="/assets/img/liquidificador.png" alt="liquidificador">
    <div class="card-body">
      <h5 class="card-title">Liquidificador Mondial</h5>
      <p class="card-text">Liquidificador Mondial Turbo Inox L-1200 3 Litros 12.</p>
      <h5 class="card-title">R$100,00</h5>
      <h3 class="card-title">Em até 3x de <b>R$33,30</b></h3>
      <button  class="btn btn-primary" mat-button (click)="openDialog()">Visitar</button>
    </div>
</div>

<div class="card">
  <img class="card-img-top" src="/assets/img/geladeira.jpeg" alt="liquidificador">
  <div class="card-body">
    <h5 class="card-title">Geladeira Electrolux</h5>
    <p class="card-text">Geladeira Electrolux DC35A Cycle Defrost Duplex 260 Litros.</p>
    <h5 class="card-title">R$5.300,00</h5>
    <h3 class="card-title">Em até 12x de <b>R$441,66</b></h3>
    <button  class="btn btn-primary" mat-button (click)="openDialog()">Visitar</button>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="/assets/img/microondas.jpeg" alt="liquidificador">
  <div class="card-body">
    <h5 class="card-title">Microondas Electrolux</h5>
    <p class="card-text">Micro-ondas Electrolux 34 Litros MEO44.</p>
    <h5 class="card-title">R$1.500,00</h5>
    <h3 class="card-title">Em até 6x de <b>R$250,00</b></h3>
    <button  class="btn btn-primary" mat-button (click)="openDialog()">Visitar</button>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="/assets/img/tv.jpeg" alt="liquidificador">
  <div class="card-body">
    <h5 class="card-title">Televisão Sansung</h5>
    <p class="card-text">Smart TV LED 50" Samsung Crystal 4K HDR.</p>
    <h5 class="card-title">R$2.000,00</h5>
    <h3 class="card-title">Em até 6x de <b>R$166,65</b></h3>
    <button  class="btn btn-primary" mat-button (click)="openDialog()">Visitar</button>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="/assets/img/batedeira.jpeg" alt="liquidificador">
  <div class="card-body">
    <h5 class="card-title">Batedeira Britânia</h5>
    <p class="card-text">Batedeira Britânia Bellagio Cristal Neve.</p>
    <h5 class="card-title">R$100,00</h5>
    <h3 class="card-title">Em até 3x de <b>R$33,33</b></h3>
    <button  class="btn btn-primary" mat-button (click)="openDialog()">Visitar</button>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="/assets/img/ventilador.jpeg" alt="liquidificador">
  <div class="card-body">
    <h5 class="card-title">Ventilador Mondial</h5>
    <p class="card-text">Ventilador de Mesa/Parede Mondial NV-15-6P 30 cm 6 Pás 3.</p>
    <h5 class="card-title">R$300,00</h5>
    <h3 class="card-title">Em até 6x de <b>R$50,00</b></h3>
    <button  class="btn btn-primary" mat-button (click)="openDialog()">Visitar</button>
  </div>
</div>

</div>
