<div class="row conteudo">
<div class="card">
    <img class="card-img-top" src="/assets/img/liquidificador.png" alt="liquidificador">
    <div class="card-body">
      <h5 class="card-title">Liquidificador Mondial</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <button  class="btn btn-primary" mat-button (click)="openDialog()">Visitar</button>
    </div>
</div>

<div class="card">
  <img class="card-img-top" src="/assets/img/liquidificador.png" alt="liquidificador">
  <div class="card-body">
    <h5 class="card-title">Liquidificador Mondial</h5>
    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
    <button  class="btn btn-primary" mat-button (click)="openDialog()">Visitar</button>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="/assets/img/liquidificador.png" alt="liquidificador">
  <div class="card-body">
    <h5 class="card-title">Liquidificador Mondial</h5>
    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
    <button  class="btn btn-primary" mat-button (click)="openDialog()">Visitar</button>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="/assets/img/liquidificador.png" alt="liquidificador">
  <div class="card-body">
    <h5 class="card-title">Liquidificador Mondial</h5>
    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
    <button  class="btn btn-primary" mat-button (click)="openDialog()">Visitar</button>
  </div>
</div>

</div>
