
<!--div class="container custom-height">
  <p>Bem vindo <strong>{{nameCliente}}</strong></p>
  <div class="row mt-5">
    <div class="col-sm" *ngFor="let mod of modalidade">
      <!-mat-card>
      <strong>Título:</strong> {{mod.modalidade}}<br>
      <strong>Vencimento:</strong> {{mod.vencimento}}<br>
      <strong>Rentabilidade:</strong> {{mod.rentabilidade}}<br>
      <strong>Valor mínimo:</strong> {{mod.valorMinimo}}<br>
      <strong>Valor inteiro:</strong> {{mod.valorInteiro}}<br>
      <button class="button" (click)="investment(mod.id)">Investir</button>
    </mat-card->
    </div>
  </div>
</div-->

<!--div class="row conteudo">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome Completo</th>
      <th scope="col">CPF</th>
      <th scope="col">Celular</th>
      <th scope="col">E-mail</th>
      <th scope="col">Senha</th>
      <th scope="col">Tipo Logradouro</th>
      <th scope="col">CEP</th>
      <th scope="col">Logradouro</th>
      <th scope="col">Bairro</th>
      <th scope="col">Número</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{nomeCompleto}}</td>
      <td>{{cpf}}</td>
      <td>{{celular}}</td>
      <td>{{email}}</td>
      <td>{{senha}}</td>
      <td>{{tipoLogradouro}}</td>
      <td>{{cep}}</td>
      <td>{{logradouro}}</td>
      <td>{{bairro}}</td>
      <td>{{numero}}</td>
      <td>{{cidade}}</td>
      <td>{{estado}}</td>
      <td><span class="material-icons"> mode_edit_outline </span></td>
      <td><span class="material-icons"> delete </span></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{nomeCompleto}}</td>
      <td>{{cpf}}</td>
      <td>{{celular}}</td>
      <td>{{email}}</td>
      <td>{{senha}}</td>
      <td>{{tipoLogradouro}}</td>
      <td>{{cep}}</td>
      <td>{{logradouro}}</td>
      <td>{{bairro}}</td>
      <td>{{numero}}</td>
      <td>{{cidade}}</td>
      <td>{{estado}}</td>
      <td><span class="material-icons"> mode_edit_outline </span></td>
      <td><span class="material-icons"> delete </span></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{nomeCompleto}}</td>
      <td>{{cpf}}</td>
      <td>{{celular}}</td>
      <td>{{email}}</td>
      <td>{{senha}}</td>
      <td>{{tipoLogradouro}}</td>
      <td>{{cep}}</td>
      <td>{{logradouro}}</td>
      <td>{{bairro}}</td>
      <td>{{numero}}</td>
      <td>{{cidade}}</td>
      <td>{{estado}}</td>
      <td><span class="material-icons"> mode_edit_outline </span></td>
      <td><span class="material-icons"> delete </span></td>
    </tr>
  </tbody>
</table>
</div-->

<div class="conteudo">
<table class="table">
  <thead>
    <tr>
      <th scope="col"><button type="button" class="btn btn-primary a">Minha Conta</button></th>
      <th scope="col"><button type="button" class="btn btn-primary a">Meus Contatos</button></th>
      <th scope="col"><button type="button" class="btn btn-primary a">Meus Enderecos</button></th>  
    </tr>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Senha</th>
      <th>CPF</th>
      <th>Alterar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{nomeCompleto}}</td>
      <td>{{email}}</td>
      <td>{{senha}}</td>
      <td>{{cpf}}</td>
      <td>
        <button class="btn btn-link" mat-button (click)="openDialog()"><span class="material-icons">mode_edit_outline</span></button>
      </td>
      <!--td>
        <button type="button" class="btn btn-link" data-dismiss="modal" mat-dialog-close><span class="material-icons">delete</span></button>
      </td-->
    </tr>
    <!--tr>
      <th scope="row">2</th>
      <td>{{nomeCompleto}}</td>
      <td>{{cpf}}</td>
      <td>{{celular}}</td>
      <td>{{email}}</td>
      <td>{{senha}}</td>
      <td>{{tipoLogradouro}}</td>
      <td>{{cep}}</td>
      <td>{{logradouro}}</td>
      <td>{{bairro}}</td>
      <td>{{numero}}</td>
      <td>{{cidade}}</td>
      <td>{{estado}}</td>
      <td><span class="material-icons"> mode_edit_outline </span></td>
      <td><span class="material-icons"> delete </span></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{nomeCompleto}}</td>
      <td>{{cpf}}</td>
      <td>{{celular}}</td>
      <td>{{email}}</td>
      <td>{{senha}}</td>
      <td>{{tipoLogradouro}}</td>
      <td>{{cep}}</td>
      <td>{{logradouro}}</td>
      <td>{{bairro}}</td>
      <td>{{numero}}</td>
      <td>{{cidade}}</td>
      <td>{{estado}}</td>
      <td><span class="material-icons"> mode_edit_outline </span></td>
      <td><span class="material-icons"> delete </span></td>
    </tr!-->
  </tbody>
</table>
</div>

<!--div class="row conteudo">

  <div class="col-sm-5 card-cad">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">STEPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP</h5>
          <!-Aqui teremos um stepp e cada div com um form diferente->
  
        <!-DIV INFORMACOES PESSOAS (nome, email, cpf) VAI LISTAR E ATUALIZAR AS INFORMACOES ->
        <h5 class="card-title">INFORMAÇÕES PESSOAIS</h5>
            <div class="form-row">
              <!-DOCUMENTOS->
              <div class="col-md-12 mb-3">
                <input type="text" class="form-control" placeholder="CPF" formControlName='cpf' maxlength="14" mask="000.000.000-00">
              </div>
            </div>
        <!-DIV CONTATOS[] (ddd, telefone) VAI MANTER OS CONTATOS PODENDO CADASTRAR MAIS DE UM -->
              <!--CONTATOS->
              <h5 class="card-title">CONTATOS</h5>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="DDD" formControlName='ddd' maxlength="2" mask="(00)">
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Celular" formControlName='telefone' maxlength="14" mask="00000-0000">
              </div>
            </div>
        <!-DIV ENDERECOS[] (tipoLogradouro, cep, logradouro, numero, bairro, complemento, tipoEndereco, cidade, estado) VAI MANTER OS ENDERECOS PODENDO CADASTRAR MAIS DE UM-->
              <!--ENDERECOS->
            <h5 class="card-title">ENDERECOS</h5>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <select formControlName='tipoLogradouro' class="form-control">
                  <option selected="" value="">Selecione o Logradouro</option>
                  <option value="entrega">Endereço de Entrega</option>
                  <option value="cobranca">Endereço de Cobrança</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="CEP" formControlName='cep' maxlength="9" mask="00000-000">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Logradouro" formControlName='logradouro'>
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Número" formControlName='numero'>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Bairro" formControlName='bairro'>
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Complemento" formControlName='complemento'>
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                  <input type="text" class="form-control" placeholder="Tipo Endereço" formControlName='tipoEndereco'>
                </div>
            </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" placeholder="Cidade" formControlName='cidade'>
            </div>
            <div class="col-md-6 mb-3">
              <select formControlName='estado' class="form-control">
                <option selected="" value="">Selecione o Estado (UF)</option>
                <option value="Acre">Acre</option>
                <option value="Alagoas">Alagoas</option>
                <option value="Amapá">Amapá</option>
                <option value="Amazonas">Amazonas</option>
                <option value="Bahia">Bahia</option>
                <option value="Ceará">Ceará</option>
                <option value="Distrito Federal">Distrito Federal</option>
                <option value="Espírito Santo">Espírito Santo</option>
                <option value="Goiás">Goiás</option>
                <option value="Maranhão">Maranhão</option>
                <option value="Mato Grosso">Mato Grosso</option>
                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                <option value="Minas Gerais">Minas Gerais</option>
                <option value="Pará">Pará</option>
                <option value="Paraíba">Paraíba</option>
                <option value="Paraná">Paraná</option>
                <option value="Pernambuco">Pernambuco</option>
                <option value="Piauí">Piauí</option>
                <option value="Rio de Janeiro">Rio de Janeiro</option>
                <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                <option value="Rondônia">Rondônia</option>
                <option value="Roraima">Roraima</option>
                <option value="Santa Catarina">Santa Catarina</option>
                <option value="São Paulo">São Paulo</option>
                <option value="Sergipe">Sergipe</option>
                <option value="Tocantins">Tocantins</option>
              </select>
            </div>
          </div>
          <h5 class="card-title">BOTÃO DELETAR MINHA CONTA</h5>
          <!-AO FINAL TERÁ UM BOTÃO DELETAR MINHA CONTA->
        </div>
      </div>
    </div>
  

    <!-th scope="col">Celular</th>
      <th scope="col">Tipo Logradouro</th>
      <th scope="col">CEP</th>
      <th scope="col">Logradouro</th>
      <th scope="col">Bairro</th>
      <th scope="col">Número</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>

      <td>{{celular}}</td>
      <td>{{tipoLogradouro}}</td>
      <td>{{cep}}</td>
      <td>{{logradouro}}</td>
      <td>{{bairro}}</td>
      <td>{{numero}}</td>
      <td>{{cidade}}</td>
      <td>{{estado}}</td!-->