<!--div class="container custom-height">
  <p>Bem vindo <strong>{{nameCliente}}</strong></p>
  <div class="row mt-5">
    <div class="col-sm" *ngFor="let mod of modalidade">
      <!-mat-card>
      <strong>Título:</strong> {{mod.modalidade}}<br>
      <strong>Vencimento:</strong> {{mod.vencimento}}<br>
      <strong>Rentabilidade:</strong> {{mod.rentabilidade}}<br>
      <strong>Valor mínimo:</strong> {{mod.valorMinimo}}<br>
      <strong>Valor inteiro:</strong> {{mod.valorInteiro}}<br>
      <button class="button" (click)="investment(mod.id)">Investir</button>
    </mat-card->
    </div>
  </div>
</div-->

<div class="row conteudo">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome Completo</th>
      <th scope="col">CPF</th>
      <th scope="col">Celular</th>
      <th scope="col">E-mail</th>
      <th scope="col">Senha</th>
      <th scope="col">Tipo Logradouro</th>
      <th scope="col">CEP</th>
      <th scope="col">Logradouro</th>
      <th scope="col">Bairro</th>
      <th scope="col">Número</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{nomeCompleto}}</td>
      <td>{{cpf}}</td>
      <td>{{celular}}</td>
      <td>{{email}}</td>
      <td>{{senha}}</td>
      <td>{{tipoLogradouro}}</td>
      <td>{{cep}}</td>
      <td>{{logradouro}}</td>
      <td>{{bairro}}</td>
      <td>{{numero}}</td>
      <td>{{cidade}}</td>
      <td>{{estado}}</td>
      <td><span class="material-icons"> mode_edit_outline </span></td>
      <td><span class="material-icons"> delete </span></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{nomeCompleto}}</td>
      <td>{{cpf}}</td>
      <td>{{celular}}</td>
      <td>{{email}}</td>
      <td>{{senha}}</td>
      <td>{{tipoLogradouro}}</td>
      <td>{{cep}}</td>
      <td>{{logradouro}}</td>
      <td>{{bairro}}</td>
      <td>{{numero}}</td>
      <td>{{cidade}}</td>
      <td>{{estado}}</td>
      <td><span class="material-icons"> mode_edit_outline </span></td>
      <td><span class="material-icons"> delete </span></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{nomeCompleto}}</td>
      <td>{{cpf}}</td>
      <td>{{celular}}</td>
      <td>{{email}}</td>
      <td>{{senha}}</td>
      <td>{{tipoLogradouro}}</td>
      <td>{{cep}}</td>
      <td>{{logradouro}}</td>
      <td>{{bairro}}</td>
      <td>{{numero}}</td>
      <td>{{cidade}}</td>
      <td>{{estado}}</td>
      <td><span class="material-icons"> mode_edit_outline </span></td>
      <td><span class="material-icons"> delete </span></td>
    </tr>
  </tbody>
</table>
</div>
