
<div class="row conteudo">
  <!--TIRAR O MODAL CADASTRO DO LOGIN DA MESMA TELA-->
  <div class="col-sm-5 card-cad">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crie sua conta</h5>
        <form class="mt-4" (ngSubmit)='cadastro()' [formGroup]='formCadastro'>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <input type="text" class="form-control" placeholder="Nome Completo" formControlName='nome'>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <input type="text" class="form-control" placeholder="E-mail" formControlName='email'>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <input type="password" class="form-control" placeholder="Senha" formControlName='senha'>
            </div>
            <div class="col-md-6 mb-3">
              <input type="password" class="form-control" placeholder="Confirma Senha" formControlName='confirmaSenha'>
            </div>
          </div>
          <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName='termos'>
            <label class="form-check-label"> Concordo com os termos e condições </label>
          </div>
        </div>
          <button type="submit" class="btn btn-primary bt-cadastro">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>