.btn{
    margin-top: 10px;
}

.card-cad{
    margin-top: 100px;
    margin-left: 400px;
}

.card{
    min-height: 200px!important;
}

.conteudo{
    min-height: 650px;
} /* colocar em todas as paginas */