.box-cadastro {
    margin: 30px;
    padding: 30px;
}

.cadastro {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 0;
    outline: none;
    height: 50px;
}

.bt-cadastro{
    margin-top: 10px;
}
.card-cad{
     margin: 20px;
}

.card-login{
    margin-left: 5%;
    margin-top: 20px;


}
.card{
    min-height: 300px!important;
}