<div class="row conteudo">
  <div class="col-sm-5 card-cad">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crie sua conta</h5>
        <form class="mt-4" [formGroup]='clienteForm'>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <input type="text" class="form-control" placeholder="Nome Completo" formControlName='nome' name="nome">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <input type="text" class="form-control" placeholder="E-mail" formControlName='email' name="email">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <input type="password" class="form-control" placeholder="Senha" formControlName='senha' name="senha">
            </div>
            <div class="col-md-6 mb-3">
              <select formControlName="tipoId" name="tipoId" class="form-control">
                <option value="1">Pessoa Fisica</option>
                <option value="2">Pessoa Juridica</option>
              </select>
            </div>
            <!--div class="col-md-6 mb-3">
              <input type="password" class="form-control" placeholder="Confirma Senha" formControlName='confirmaSenha' name="confirmaSenha">
            </div-->
          </div>
          <button mat-button class="btn btn-primary" (click)="onAddCliente()">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>