
<div class="row conteudo">
  <div class="col-sm-5 offset-1 card-login">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Faça seu login</h5>
        <form class="mt-4" [formGroup]='formLogin'>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <input type="text" class="form-control" placeholder="E-mail" formControlName='email'>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <input type="password" class="form-control" placeholder="Senha" formControlName='senha'>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary acessar-conta" (click)="login()">Acessar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-5 card-cad">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crie sua conta</h5>
        <form class="mt-4" (ngSubmit)='cadastro()' [formGroup]='formCadastro'>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <input type="text" class="form-control" placeholder="Nome Completo" formControlName='nome'>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" placeholder="E-mail" formControlName='email'>
            </div>
            <div class="col-md-6 mb-3">
              <input type="password" class="form-control" placeholder="Senha" formControlName='senha'>
            </div>
          </div>
          <!--div class="form-row">
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" placeholder="CPF" formControlName='cpf' maxlength="14" mask="000.000.000-00">
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" placeholder="Celular" formControlName='telefone' maxlength="14" mask="(00)00000-0000">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <select formControlName='tipoLogradouro' class="form-control">
                <option selected="" value="">Selecione o Logradouro</option>
                <option value="entrega">Endereço de Entrega</option>
                <option value="cobranca">Endereço de Cobrança</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" placeholder="CEP" formControlName='cep' maxlength="9" mask="00000-000">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <input type="text" class="form-control" placeholder="Logradouro" formControlName='logradouro'>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" placeholder="Bairro" formControlName='bairro'>
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" placeholder="Número" formControlName='numero'>
            </div>
          </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" placeholder="Cidade" formControlName='cidade'>
          </div>

          <div class="col-md-6 mb-3">
            <select formControlName='estado' class="form-control">
              <option selected="" value="">Selecione o Estado (UF)</option>
              <option value="Acre">Acre</option>
              <option value="Alagoas">Alagoas</option>
              <option value="Amapá">Amapá</option>
              <option value="Amazonas">Amazonas</option>
              <option value="Bahia">Bahia</option>
              <option value="Ceará">Ceará</option>
              <option value="Distrito Federal">Distrito Federal</option>
              <option value="Espírito Santo">Espírito Santo</option>
              <option value="Goiás">Goiás</option>
              <option value="Maranhão">Maranhão</option>
              <option value="Mato Grosso">Mato Grosso</option>
              <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
              <option value="Minas Gerais">Minas Gerais</option>
              <option value="Pará">Pará</option>
              <option value="Paraíba">Paraíba</option>
              <option value="Paraná">Paraná</option>
              <option value="Pernambuco">Pernambuco</option>
              <option value="Piauí">Piauí</option>
              <option value="Rio de Janeiro">Rio de Janeiro</option>
              <option value="Rio Grande do Sul">Rio Grande do Sul</option>
              <option value="Rio Grande do Norte">Rio Grande do Norte</option>
              <option value="Rondônia">Rondônia</option>
              <option value="Roraima">Roraima</option>
              <option value="Santa Catarina">Santa Catarina</option>
              <option value="São Paulo">São Paulo</option>
              <option value="Sergipe">Sergipe</option>
              <option value="Tocantins">Tocantins</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName='termos'>
            <label class="form-check-label"> Concordo com os termos e condições </label>
          </div>
        </div-->

          <button type="submit" class="btn btn-primary bt-cadastro">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>