<div class="conteudo">

  <a href="../clientes/">
    <button type="button" class="btn btn-primary stepp">Minha Conta</button>
  </a>
  <a href="../documentos/">
    <button type="button" class="btn btn-primary stepp">Documentos</button>
    </a>
  <a href="../telefones/">
  <button type="button" class="btn btn-primary stepp">Telefones</button>
  </a>
  <a href="../enderecos/">
  <button type="button" class="btn btn-primary stepp">Enderecos</button>  
  </a>
  <a href="../cartoes/">
    <button type="button" class="btn btn-primary stepp">Cartões</button>  
  </a>
  <a href="../pedidos/">
    <button type="button" class="btn btn-primary stepp">Pedidos</button>  
  </a>
  
<!--br><br><br>

  <h2 class="h"> PEDIDOS </h2-->
        
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código do Cupom</th>
        <th scope="col">Validade</th>
        <th scope="col">Nome</th>
        <th scope="col">Desconto</th>
        <th scope="col">Status</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>8873483454894</td>
        <td>15/03/2021</td>
        <td>10OFF</td>
        <td>10%</td>
        <td style="background-color: rgb(115, 241, 115);">Ativo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>8873483454895</td>
        <td>01/03/2021</td>
        <td>15OFF</td>
        <td>15%</td>
        <td style="background-color: rgb(115, 241, 115);">Ativo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>8873483454896</td>
        <td>20/01/2021</td>
        <td>5OFF</td>
        <td>5%</td>
        <td style="background-color: rgb(241, 115, 115);">Expirado</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>8873483454897</td>
        <td>15/02/2021</td>
        <td>FreteOFF</td>
        <td>Frete Grátis</td>
        <td style="background-color: rgb(241, 115, 115);">Expirado</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>8873483454898</td>
        <td>01/02/2021</td>
        <td>OFFAniversario</td>
        <td>15%</td>
        <td style="background-color: rgb(241, 115, 115);">Expirado</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>8873483454899</td>
        <td>20/02/2021</td>
        <td>veraoOFF</td>
        <td>25%</td>
        <td style="background-color: rgb(241, 115, 115);">Expirado</td>
      </tr>
    </tbody>
  </table>
</div>