<div class="conteudo">

  <a href="../usuarios/">
    <button type="button" class="btn btn-primary stepp">Usuários</button>
  </a>
  <a href="../cadProdutos/">
  <button type="button" class="btn btn-primary stepp">Produtos</button>
  </a>
  <a href="../solicitacoes/">
  <button type="button" class="btn btn-primary stepp">Solicitações</button>  
  </a>
  <a href="../ranking/">
    <button type="button" class="btn btn-primary stepp">Ranking</button>  
  </a>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código do Produto</th>
        <th scope="col">Nome</th>
        <th scope="col">Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>8873483454894</td>
        <td>Microondas Electrolux</td>
        <td>100</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>8873483454895</td>
        <td>Geladeira Electrolux</td>
        <td>200</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>8873483454896</td>
        <td>Fogão Daco</td>
        <td>300</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>8873483454897</td>
        <td>Batedeira Mondial</td>
        <td>150</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>8873483454898</td>
        <td>Cooktop Electrolux</td>
        <td>180</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>8873483454899</td>
        <td>Liquidificador Britânia</td>
        <td>50</td>
      </tr>
    </tbody>
  </table>
</div>