<div class="row conteudo">
  <div class="card">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <img class="card-img-top" src="/assets/img/liquidificador.png" alt="liquidificador">
      </div>
      <div class="col-md-6 mb-3">
        <select class="custom-select" id="inputGroupSelect01" style="width: 50%; margin-top: 18%;">
          <option selected>Quantidade...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
    </div>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <h5 class="card-title">Liquidificador Mondial</h5>
            <p class="card-text">Liquidificador Mondial Turbo Inox L-1200 3 Litros 12.</p>
            <h5 class="card-title">R$100,00</h5>
            <h3 class="card-title">Em até 3x de <b>R$33,30</b></h3>
          </div>
          <div class="col-md-6 mb-3">
            <h5 class="card-title">Subtotal: R$100,00</h5>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <input type="text" class="form-control" placeholder="CEP" formControlName='cep' maxlength="9" mask="00000-000">
        </div>
        <div class="col-md-2 mb-3">
          <button type="button" class="btn btn-primary">Calcular</button>
        </div>
        <div class="col-md-6 mb-3">
          <h5 class="card-title">Subtotal Frete: R$15,00</h5>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <input type="text" class="form-control" placeholder="Cupom" formControlName='cupons'>
        </div>
        <div class="col-md-2 mb-3">
          <button type="button" class="btn btn-primary">Utilizar</button>
        </div>
        <div class="col-md-6 mb-3">
          <h5 class="card-title">Cupom: -R$30,00</h5>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-9 mb-3">
          <button type="button" class="btn btn-del">Continuar Comprando</button>
        </div>
        <div class="col-md-3 mb-3">
          <button type="button" class="btn btn-primary" style="margin-left: 12%;">Concluir Compra</button>
        </div>
      </div>
    </div>
</div>  