.conteudo{
    min-height: 650px;
    margin: 50px;
} /* colocar em todas as paginas */
    
.stepp{
      margin-left: 5%;
      margin-right: 2%;
      padding: 8px 18px; 
      vertical-align: middle; 
      background:#007bff; 
      color:black;
      border-radius:6px; 
      font-size: 20px; 
}
    
.table{
    margin-top: 5%;
}
    
.cad-button{
    margin-top: 10%;
    margin-left: 48%;
}
    
.cad-span{
    font-size: 40px!important;
}
    
.delete{
    color: red;
}
   
.btn-del{
    min-width: 100px;
    margin-left: 7px;
}