<div class="conteudo">

  <a href="../clientes/">
    <button type="button" class="btn btn-primary stepp">Minha Conta</button>
  </a>
  <a href="../telefones/">
  <button type="button" class="btn btn-primary stepp">Meus Telefones</button>
  </a>
  <a href="../enderecos/">
  <button type="button" class="btn btn-primary stepp">Meus Enderecos</button>  
  </a>
  <a href="../cartoes/">
    <button type="button" class="btn btn-primary stepp">Meus Cartões</button>  
  </a>
  <a href="../pedidos/">
    <button type="button" class="btn btn-primary stepp">Meus Pedidos</button>  
  </a>

  <table class="table">
    <thead>
      <tr>
        <th>Número</th>
        <th>Validade</th>
        <th>Nome</th>
        <th>Bandeira</th>
        <th>Código de Segurança</th>
        <th>Alterar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{numero}}</td>
        <td>{{Validade}}</td>
        <td>{{nome}}</td>
        <td>{{bandeira}}</td>
        <td>{{codigo}}</td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogAlterar()"><span class="material-icons">mode_edit_outline</span></button>
        </td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogDeletar()"><span class="material-icons">delete</span></button>
        </td>
      </tr>
      <tr>
        <td>{{numero}}</td>
        <td>{{Validade}}</td>
        <td>{{nome}}</td>
        <td>{{bandeira}}</td>
        <td>{{codigo}}</td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogAlterar()"><span class="material-icons">mode_edit_outline</span></button>
        </td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogDeletar()"><span class="material-icons">delete</span></button>
        </td>
      </tr>
      <tr>
        <td>{{numero}}</td>
        <td>{{Validade}}</td>
        <td>{{nome}}</td>
        <td>{{bandeira}}</td>
        <td>{{codigo}}</td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogAlterar()"><span class="material-icons">mode_edit_outline</span></button>
        </td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogDeletar()"><span class="material-icons">delete</span></button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-link cad-button" mat-button (click)="openDialogCadastrar()">
    <span class="material-icons cad-span">add_circle</span>
  </button>

</div>