<div class="conteudo">
  <a href="../clientes/">
    <button type="button" class="btn btn-primary stepp">Minha Conta</button>
  </a>
  <a href="../telefones/">
  <button type="button" class="btn btn-primary stepp">Meus Telefones</button>
  </a>
  <a href="../enderecos/">
  <button type="button" class="btn btn-primary stepp">Meus Enderecos</button>  
  </a>

  <table class="table">
    <thead>
      <tr>
        <th>DDD</th>
        <th>Celular</th>
        <th>Cadastrar</th>
        <th>Alterar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ddd}}</td>
        <td>{{telefone}}</td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogCadastrar()"><span class="material-icons">add_ic_call</span></button>
        </td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogAlterar()"><span class="material-icons">mode_edit_outline</span></button>
        </td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogDeletar()"><span class="material-icons">delete</span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>