<div class="conteudo">

  <a href="../clientes/">
    <button type="button" class="btn btn-primary stepp">Minha Conta</button>
  </a>
  <a href="../documentos/">
    <button type="button" class="btn btn-primary stepp">Documentos</button>
  </a>
  <a href="../enderecos/">
  <button type="button" class="btn btn-primary stepp">Enderecos</button>  
  </a>
  <a href="../cartoes/">
    <button type="button" class="btn btn-primary stepp">Cartões</button>  
  </a>
  <a href="../pedidos/">
    <button type="button" class="btn btn-primary stepp">Pedidos</button>  
  </a>
  <a href="../cupons/">
    <button type="button" class="btn btn-primary stepp">Cupons</button>  
  </a>

  <table class="table">
    <thead>
      <tr>
        <th>DDD</th>
        <th>Celular</th>
        <th>Alterar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      <!--tr>
        <td>{{ddd}}</td>
        <td>{{telefone}}</td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogAlterar()"><span class="material-icons">mode_edit_outline</span></button>
        </td>
        <td>
          <button class="btn btn-link delete" mat-button (click)="openDialogDeletar()"><span class="material-icons">delete</span></button>
        </td>
      </tr-->
      <tr>
        <td>(11)</td>
        <td>97474-9290</td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogAlterar()"><span class="material-icons">mode_edit_outline</span></button>
        </td>
        <td>
          <button class="btn btn-link delete" mat-button (click)="openDialogDeletar()"><span class="material-icons">delete</span></button>
        </td>
      </tr>
      <tr>
        <td>(11)</td>
        <td>92404-3447</td>
        <td>
          <button class="btn btn-link" mat-button (click)="openDialogAlterar()"><span class="material-icons">mode_edit_outline</span></button>
        </td>
        <td>
          <button class="btn btn-link delete" mat-button (click)="openDialogDeletar()"><span class="material-icons">delete</span></button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-link cad-button" mat-button (click)="openDialogCadastrar()">
    <span class="material-icons cad-span">add_circle</span>
  </button>
</div>