<div class="conteudo">

  <a href="../cadProdutos/">
    <button type="button" class="btn btn-primary stepp">Produtos</button>
  </a>
  <a href="../estoque/">
  <button type="button" class="btn btn-primary stepp">Estoque</button>
  </a>
  <a href="../solicitacoes/">
  <button type="button" class="btn btn-primary stepp">Solicitações</button>  
  </a>
  <a href="../ranking/">
    <button type="button" class="btn btn-primary stepp">Ranking</button>  
  </a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">CPF</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Flavio Daniel</td>
        <td>flavio.daniel@gmail.com</td>
        <td>495.483.209.94</td>
        <td><mat-slide-toggle></mat-slide-toggle></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Maria da Gloria</td>
        <td>maria.gloria@gmail.com</td>
        <td>349.056.294.07</td>
        <td><mat-slide-toggle></mat-slide-toggle></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jackeline Carvalho</td>
        <td>jackeline.carvalho@gmail.com</td>
        <td>349.056.294.07</td>
        <td><mat-slide-toggle></mat-slide-toggle></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Daniel Pimenta</td>
        <td>daniel.pimenta@gmail.com</td>
        <td>349.056.294.07</td>
        <td><mat-slide-toggle></mat-slide-toggle></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Jackson Carvalho</td>
        <td>jackson.carvalho@gmail.com</td>
        <td>349.056.294.07</td>
        <td><mat-slide-toggle></mat-slide-toggle></td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>João de Jesus</td>
        <td>joao.jesus@gmail.com</td>
        <td>349.056.294.07</td>
        <td><mat-slide-toggle></mat-slide-toggle></td>
      </tr>
    </tbody>
  </table>
</div>