.conteudo{
  min-height: 650px;
  margin: 50px;
} /* colocar em todas as paginas */

.stepp{
  margin-left: 5%;
  margin-right: 2%;
  padding: 8px 18px; 
  vertical-align: middle; 
  background:#007bff; 
  color:black;
  border-radius:6px; 
  font-size: 20px; 
}

.danger{
  margin-left: 42%;
  margin-top: 20%;
}

.table{
  margin-top: 5%;
}

.cad-button{
  margin-top: 15%;
  margin-left: 47%;
  color:red;
}

.cad-span{
  font-size: 35px!important;
}

.delete{
  color: red;
  font-size: 40px;
}

.btn-del{
  min-width: 100px;
  margin-left: 7px;
}