<div class="conteudo">

<a href="../usuarios/">
  <button type="button" class="btn btn-primary stepp">Usuários</button>
</a>
<a href="../cadProdutos/">
  <button type="button" class="btn btn-primary stepp">Produtos</button>  
</a>
<a href="../estoque/">
<button type="button" class="btn btn-primary stepp">Estoque</button>
</a>
<a href="../solicitacoes/">
<button type="button" class="btn btn-primary stepp">Solicitações</button>  
</a>

<img class="card-img-top" src="/assets/img/grafico.jpeg" alt="grafico">

<button class="btn btn-link cad-button" mat-button (click)="openDialogCadastrar()">
  <span class="material-icons cad-span">download</span>
  <br>
  <h5> Baixar Relatório </h5>
</button>
</div>
